@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 216, 216, 216;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 216, 216, 216;
    --background-rgb: 0, 0, 0;
  }
}

body {
  background: rgb(var(--background-rgb));
  overscroll-behavior: none;
  min-height: 100vh;
}
